*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --clr-back-a: rgb(218, 218, 218);
    --clr-back-b: rgb(240, 240, 240);
    --clr-primary: hsl(0, 0%, 37%);
    --clr-light: rgb(199, 199, 199);
    --clr-secundary: rgb(52, 52, 52);
    --clr-dark: linear-gradient(60deg,#161616, rgb(39, 39, 39));
    --font-content: 'Inter',
    sans-serif;
    --font-title: 'Nunito',
    sans-serif;

           --primary-100:#1E2022;
           --primary-200:#34373b;
           --primary-300:#F0F5F9;
           --accent-100:#788189;
           --accent-200:#e1e4e6;
           --text-100:#1E2022;
           --text-200:#52616B;
           --bg-100:#F0F5F9;
           --bg-100-video:#f0f5f96f;
           --bg-200:#C9D6DF;
           --bg-300:#bfc7d1;

}

