.about-section-container {
    color: var(--clr-light);
    background: var(--primary-100);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 68vh 30vh 50vh;
    max-width: 1500px;
    margin: 0 auto;
}


.about-article-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    /* background-color: aqua; */
}


ul {
    list-style-type: square;
    margin: 0 0 0 15px;
}

li {
    font-family: var(--font-content);
    font-size: 1.4rem;
    margin: 30px 0;
    font-weight: 200;
}

.description-skills-container>p {
    font-family: var(--font-content);
    font-size: 1.4rem;
    margin: 10px 0;
    font-weight: 200;
    line-height: 2.5rem;

}



.about-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding-bottom: 30px;
}

.about-image-container img {
    height: 60%;
    filter: grayscale();
    border-radius: 50%;
    outline: solid 7px var(--accent-100);

}

.description-skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-200);
    text-align: center;
    padding: 40px;
    flex-direction: column;
}

.about-section-container h1 {
    margin: 20px 0 0 0;
    font-size: 3rem;
    font-family: var(--font-title);
}

@media(min-width:1100px) {
    .about-section-container {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 50vh;
    }

    .about-image-container img {
        height: 26%;
    }


}