.contact-section-container {
    width: 100%;
    background: var(--clr-dark);
    color: var(--clr-light);
    padding: 50px;
    margin: 0 auto;
    max-width: 1500px;
    display: grid;
    grid-template-areas:
        "t t t t t t t t t t"
        "i i i i i i i i i i";


}

.text-contact-container {
    grid-area: t;
}

.text-contact-container h1 {
    margin: 20px 0 0 0;
    font-size: 3rem;
    font-family: var(--font-title);
}

.text-contact-container h5 {
    margin: 20px 0 0 0;
    font-size: 1.8rem;
    font-family: var(--font-title);
}

.text-contact-container>p {
    font-family: var(--font-content);
    font-size: 1.4rem;
    margin: 10px 0;
    font-weight: 200;
    line-height: 1.8rem;
    display: flex;
    align-items: center;
}

.contact-icons-container {
    grid-area: i;
    padding-top: 20px;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    height: 10vh;
}

.contact-icons-container img {
    width: 20%;
    filter: invert(77%) sepia(7%) saturate(6%) hue-rotate(314deg) brightness(87%) contrast(84%);
    margin: 6px;
}

.text-contact-container span {
    background-image: url('../static/icons/message.png');
    background-size: cover;
    background-position: center;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 12px 0 0 10px;
    cursor: pointer;
}

@media(min-width: 1028px) {
    .contact-section-container {
        grid-template-areas:
            "t t t t t t i i i i"
            "t t t t t t i i i i";
    }

    .contact-icons-container {
        height: 10vh;
        margin: 70px 0 0 0;
    }

    .contact-icons-container img {
        width: 20%;

    }
}