.header-container{
    width: 100%;
    height: 7vh;
    background-color: var(--clr-back-b);

    display: flex;
    align-items: center;
    justify-content: center;
}
.header-image-container{
    width: 90%;
    height: 5vh;
    padding: 0 0 0 20px;
    display: flex;
    align-items: center;
}
.icons{
    filter: invert(42%) sepia(1%) saturate(1807%) hue-rotate(56deg) brightness(96%) contrast(92%);
}
.icons:hover{
   filter: invert(0%) sepia(3%) saturate(2243%) hue-rotate(316deg) brightness(96%) contrast(76%);
}

img{
    height: 70%;
    cursor: pointer;
}
.header-icons-rrss--container{
width: 90%;
height: 5vh;
padding: 0 20px 0 0;
display: flex;
gap: 20px;
justify-content: flex-end;
align-items: center;
transition: filter 0.3s ease
}