/* modal */
dialog {
    margin: 40px auto;
    width: 90%;
    max-width: 600px;
    height: 90vh;
    background-color: rgb(233, 233, 233);
    padding: 20px;
    border-radius: 5px;
    border: none;
    outline: solid rgba(0, 0, 0, 0.483) 1500px;
}

/* close */
button#closeModal {
    margin-top: 10px;
}

