.projects-section-container {
    width: 100%;
    min-height: max-content;
    height: auto;
    background: var(--primary-300); 
    padding: 20px;
    display: flex;
    flex-direction: column;
margin: 0 auto;
max-width: 1500px;
}

p {
    font-family: var(--font-content);
    font-size: 1rem;
}

.text-projects-container h1 {
    margin: 20px 0 20px 0;
    font-size: 3rem;
    font-family: var(--font-title);
}


.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
    grid-gap: 20px;
    margin: 30px auto;
    width: 80%;
    max-width: 1500px;

}

.image-container {
    width: 250px;
    height: 123px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--accent-200);
    border-radius: 7px;
}

.text-projects-container {

    width: 100%;
    height: 13vh;
    text-align: center;

}

.image-container {
    filter: grayscale(1);
}

.image-container:hover {
    filter: grayscale(0);
}

@media(min-width: 768px) {
   
}

@media(min-width:1120px){
  
}
.projects-section-container  #video-background {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    filter: grayscale();
    max-width: 1500px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}