.title-section-container {
    height: 93vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto;

    background: var(--bg-100-video);


}



#video-background {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 110vh;
    z-index: -1;
    filter: grayscale();
    max-width: 1500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 130px 0 0 0;

}


.menu-title-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    justify-content: center;
    font-size: 1.7rem;
    font-family: var(--font-content);
    cursor: pointer;
}

.title {
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    font-family: var(--font-content);
    color: var(--primary-100);
    line-height: 5.2rem;
}

.title :nth-child(3) {

    color: var(--primary-100);

}

.subtitle-container h3 {
    width: 310px;
    font-size: 1.5rem;
    font-family: var(--font-content);
    color: var(--text-100);
    font-weight: 400;
    padding-top: 5px;
}

.menu-title a {
    text-indent: 7px;
    width: 160px;
    transition: width .5s ease;
    color: var(--primary-200);
    text-decoration: none;
}

.menu-title a:hover {
    width: 180px;
    color: var(--primary-100);
}

@media(min-width:1100px) {
    .title-section-container {
        flex-direction: row;
    }

    .title-container {
        padding: 0 0 0 50px
    }
    .line {
        position: absolute;
           height: 150px;
           width: 2px;
           
        background-color: var(--primary-200);

        top: 54%;
        left: 52%;
        transform: translate(-50%, -50%);
    }
}

.hola-animate,
.soy-animate,
.marvin-animate,
.subtitle-animate {
    /* font-size: 7rem; */
    animation: moveStart2 1s;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.2, 0.6, 0.2, 1);
    animation-delay: .4s;
    animation-fill-mode: backwards;
    color: rgb(60, 60, 60);
    text-shadow: 1px 1px rgb(154, 154, 154);
}

.menu-animate {
    animation: appear 1s;

}

@keyframes moveStart2 {
    0% {
        opacity: 0;
        transform: translateY(60%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(20%);

    }

    100% {
        opacity: 1;
        transform: translateY(0%);

    }
}